#title {
  text-align: center;
}

br {
  display: block;
}

form {
  text-align: center;
}

#reviewContent {
  width: 80vw;
  height: 75vh;
}

#key {
  width: 50vw;
  height: 3vh;
}

button {
  font-size: min(2vh, 2vw);
}
