#title {
  text-align: center;
}

form {
  text-align: center;
}

#reviewContent {
  width: 80vw;
  height: 80vh;
}

#key {
  width: 77vw;
  height: 3vh;
}

#back-button {
  padding-left: 10px;
}
a {
  color: black;
  text-decoration: none;
}

#back-text {
  font-size: calc(1vw + 1vh);
  padding-left: 10px;
}

.fa-arrow-left {
  font-size: min(3vw, 3vh);
}
