#main {
  padding-top: 20vh;
  font-size: 3vw;
  text-align: center;
}

.contents-container {
  text-align: center;
}

.contents {
  display: inline-block;
  overflow: scroll;
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 40vw;
  height: 80vh;
  background-color: rgba(164, 161, 161, 0.281);
  border-radius: 10px;
}

.textList {
  padding-top: 2vh;
  padding-bottom: 0.75vh;

  width: 90%;
  height: 4vh;

  margin-top: 1.5vh;
  display: flex;
  padding-right: 3vw;

  background-color: white;

  border-radius: 10px;
}

.title {
  font-size: calc(2vw+2vh);
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.fa-arrow-left {
  font-size: calc(1vw + 1vh);
}
#back-button {
  padding-left: 10px;
}

#back-text {
  font-size: calc(1vw + 1vh);
  padding-left: 10px;
}

#menu-line {
  width: 37vw;
  background-color: black;
  height: 0.6vh;
}

#menu {
  text-align: center;
  width: 100vw;
  padding-left: 0;
  margin-top: 10px;
}

#menu-container {
  display: inline-block;
  padding-left: 0;
  width: 100vw;
  margin-top: 0px;
}
ol {
  padding-left: 10px;
}
ul {
  padding: 0;
}

.menu-list {
  text-align: center;
  display: inline;
}

.menu-item {
  display: inline-block;
  text-align: left;
  font-size: 1.3vw;
  background-color: rgba(164, 161, 161, 0.281);
  padding: 1% 0 1% 1%;
  margin: 5px 0px 5px 0px;
  width: 10vw;
}

.menu-text {
  padding-left: 10%;
}
